body{
  margin: 0;
  font-family: Rubik;
  overflow: scroll;
  background-color: #FFFAEE;
  }

h1, h2, h3, h4, h5, p{
  font-family: Rubik;
  text-transform: uppercase;
  color: #111;
  letter-spacing: 0.4em;
  line-height: 200%;
  text-align: center;
  font-weight: 100;
  margin: 0;
}

a{
  color:#111;
  text-decoration: underline;
}

h4{
  letter-spacing: 0.6em;
}

  @media (min-width: 320px) {
    h1 {
      font-size: 16px;
    }
    h4{
      font-size: 12px;
    }
  }

  @media (min-width: 400px) {
    h1 {
      font-size: 20px;
    }
    h4{
      font-size: 16px;
    }
  }

  @media (min-width: 600px) {
    h1 {
      font-size: 27px;
    }
    h4{
      font-size: 20px;
    }
  }

.dark-mode{
    background-color: #222;
  }


#page {
  display: grid;
  height: 100%;
  grid-template-areas: "head head"
                       "intro intro"
                       "music music"
                       "title title"
                      "circuit circuit"
                       "lemon lemon"
                       "workco workco"
                       "nubank nubank"
                       "fjord fjord"
                       "about about"
                       "clients clients"
                       "foot foot";
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  justify-content: center;
  grid-row-gap: 50px;
  padding: 5% 5%;
}

#page > header {
  grid-area: head;
  padding: 8 0 150px 0;
  margin: 0;
  /* border-bottom: solid 1px #111; */
  align-content: center;
  display: inline-grid;
}

#page > footer {
  grid-area: foot;
  text-align: center;
  margin: 0;
  border-top: solid 1px #111;
  padding: 8 0 8 0;
  align-content: center;
  display: inline-grid;
}


.intro{
  grid-area: intro;
  text-align: center;
  align-content: center;
  display: inline-grid;
  margin-bottom: 30vh;
}

.music{
  grid-area: music;
  text-align: center;
  align-content: center;
  display: inline-grid;
  margin-bottom: 30vh;
}

.title {
  grid-area: title;
  text-align: center;
  align-content: center;
  display: inline-grid;
}

.circuit {
  grid-area: circuit;
  text-align: center;
  align-content: center;
  display: inline-grid;
  height: 100px;
}

.lemon {
  grid-area: lemon;
  text-align: center;
  align-content: center;
  display: inline-grid;
  height: 100px;
}

.workco {
  grid-area: workco;
  text-align: center;
  align-content: center;
  display: inline-grid;
  height: 100px;
}

.nubank {
  grid-area: nubank;
  text-align: center;
  align-content: center;
  display: inline-grid;
  height: 100px;
}

.fjord{
  grid-area: fjord;
  text-align: center;
  align-content: center;
  display: inline-grid;
  height: 100px;
}


.about {
  grid-area: about;
  text-align: center;
  align-content: center;
  display: inline-grid;
  margin-top: 20vh;
}

.clients {
  grid-area: clients;
  text-align: center;
  align-content: center;
  display: inline-grid;
  margin-bottom: 20vh;
}

.moon{
position: absolute;
top: 3%;
right: 5%;
}

.moon a{
  text-decoration: none;
}

.social{
  padding-bottom: 2%;
}
