body{
  margin: 0;
  font-family: Rubik;
  overflow: scroll;
  }

h1, h2, h3, h4, h5, p{
  font-family: Rubik;
  text-transform: uppercase;
  color: #111;
  letter-spacing: 0.4em;
  line-height: 200%;
  text-align: center;
  font-weight: 100;
  margin: 0;
}

a{
  color:#111;
  text-decoration: underline;
}

h4{
  letter-spacing: 0.6em;
}

  @media (min-width: 320px) {
    h1 {
      font-size: 16px;
    }
    h4{
      font-size: 12px;
    }
  }

  @media (min-width: 400px) {
    h1 {
      font-size: 20px;
    }
    h4{
      font-size: 16px;
    }
  }

  @media (min-width: 600px) {
    h1 {
      font-size: 27px;
    }
    h4{
      font-size: 20px;
    }
  }

.dark-mode{
    background-color: #222;
  }


#page {
  display: grid;
  height: 100%;
  grid-template-areas: "head head"
                       "intro intro"
                       "music music"
                       "projects projects"
                       "project-1 project-2"
                       "about about"
                       "clients clients"
                       "foot foot";
  grid-template-rows: auto;
  grid-template-columns: 50% 1fr;
  justify-content: center;
  grid-row-gap: 150px;
  padding: 5% 5%;
}

#page > header {
  grid-area: head;
  padding: 8 0 8 0;
  margin: 0;
  /* border-bottom: solid 1px #111; */
  align-content: center;
  display: inline-grid;
}

#page > footer {
  grid-area: foot;
  text-align: center;
  margin: 0;
  border-top: solid 1px #111;
  padding: 8 0 8 0;
  align-content: center;
  display: inline-grid;
}


.intro{
  grid-area: intro;
  text-align: center;
  align-content: center;
  display: inline-grid;
}

.music{
  grid-area: music;
  text-align: center;
  align-content: center;
  display: inline-grid;
}


.projects {
  grid-area: projects;
  text-align: center;
  align-content: center;
  display: inline-grid;
}

.project-1 {
  grid-area: project-1;
  text-align: center;
  align-content: center;
  display: inline-grid;
  height: 500px;
  background-color: orange;
}

.project-2 {
  grid-area: project-2;
  text-align: center;
  align-content: center;
  display: inline-grid;
  height: 500px;
  background-color: pink;
}

.about {
  grid-area: about;
  text-align: center;
  align-content: center;
  display: inline-grid;
}

.clients {
  grid-area: clients;
  text-align: center;
  align-content: center;
  display: inline-grid;
}

.moon{
position: absolute;
top: 3%;
right: 5%;
}

.moon a{
  text-decoration: none;
}
